attrs==19.3.0
Automat==20.2.0
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
constantly==15.1.0
cryptography==2.9.2
enum34==1.1.10
hyperlink==19.0.0
idna==2.10
incremental==17.5.0
ipaddress==1.0.23
lxml==4.5.2
pathlib==1.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyHamcrest==1.10.1
pyOpenSSL==19.1.0
requests==2.24.0
service-identity==18.1.0
six==1.15.0
Twisted==20.3.0
urllib3==1.25.10
zope.interface==5.1.0
